html
  head
    link(rel='stylesheet', type='text/css', href='assests/css/animsition.min.css')
    link(rel='stylesheet', type='text/css', href='assests/css/bootstrap.min.css')
    link(rel='stylesheet', type='text/css', href='assests/css/main.css')
    script(src='assests/plugins/animsition.min.js')
    script(src='assests/js/bootstrap.min.js')
    script(src='assests/js/jquery.min.js')
    script(src='assests/js/main.js')
    title "Kagwe"
  body
    != yield
